.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    background-color: #000000c3;
    height: 60px;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

#logo {
    height: 40px;
    width: auto;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    transition: transform 0.3s ease;
}

#logo.rotate {
    transform: rotate(180deg);
}

.menu {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 200px;
    z-index: 1;
    margin: auto;
    text-align: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
    background: linear-gradient(rgb(111, 0, 0), rgba(0, 0, 0, 0.647));
}

.menu.spread {
    max-height: 300px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.menu-items li {
    font-weight: 300;
    padding: 10px 30px;
    color: white;
    transition: all 0.4s ease-in-out;
}

.menu-items li:hover {
    background-color: #00000074;
}

.nav-items {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}

.nav-item {
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.764);
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search input {
    padding: 5px;
    border: 0px;
    border-radius: 20px;
}

.search button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.search button:hover {
    background-color: #000000;
}
.dropdown{
    background-color: rgb(255, 255, 255);
    color: #000000;
    margin: 0px;
    position: absolute;
    display: none;
    z-index: 1;
    transition: all 2s ease-in-out;
    border-radius: 6px;
}
.dropdown ul{
    list-style-type: none;
    padding: 0px;
   
}
.dropdown ul li{
    padding: 10px;
    font-weight: 700;
    margin: 10px;
    border-radius: 6px;
}
.dropdown ul li:hover{
   background-color: #bab5b5;
}
.new-notif{
    background-color: red;
    border-radius: 20px;
    padding: 3px;
    font-size: 10px;
    z-index: 1;
    position: absolute;
    left: 30px;
    top: -1px;
    animation: blink 1.5s infinite ease-in-out ;
}
@keyframes blink {
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
    
}
.show{
    display: block;
   }
  .burger{
    display: none;
  }
@media screen and (max-width: 500px) {
    #root {position: absolute;
    width: 250%;}

    .nav {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: auto;
        font-size: 30px;
        position:fixed;
        padding-bottom: 10px;
    }

    .nav-logo {
        left: 58px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    #logo{
        height: 60px;
    }

    .burger {
        display: block;
        height: 40px;
        margin: 10px;
    }
    .burger img{
       height: 30px;
        color: white;
        font-weight: 700;
        height: 50px;
    }

    .nav-items.show,
    .search.show {
        display: flex;
        flex-direction: column;
    }

    .nav-items {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        justify-content: flex-start;
        display: none;
       
    }

    .nav-item {
        width: 100%;
        padding: 10px 0;
    }

    .search {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
        display: none;
     
    }

    .search input {
        flex-grow: 1;
        padding: 5px;
        height: 30px;
        width: 70%;
    }

    .search button {
        width: 25%;
        font-size: 30px;
    }

    .dropdown {
        width: 100%;
        position: relative;
        margin-top: 10px;
    }

    .dropdown ul {
        padding: 0;
    }

    .dropdown ul li {
        padding: 10px 5px;
        margin: 5px 0;
    }

    .menu {
        width: 100%;
        position: relative;
        top: 50px;
        
    }
 .menu-items{
    display: flex;
    padding: 20px;
 }
    .menu-items li {
        padding: 20px 0px;
    }
    .footer{
        z-index: -1;
    }
}
