.board{
    background:linear-gradient(rgba(0, 0, 0, 0.499),rgba(255, 0, 0, 0.407)) ;
    height: 50%;
    width: 50%;
    border-radius: 20px;
}
.board h1{
    color: rgb(255, 255, 255);
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.board h1:hover{
    opacity: 70%;
}
@media screen and (max-width: 500px) {
    .board{
        width: 60%;
        height: 100%;    
        margin-bottom: 60px;  
        margin-top: 40px; 
    }
    .board h1{
        font-size:25px;
        padding: 4px;
    }
}