.board {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 0, 0, 0.4));
    height: auto; /* Adjust to fit content */
    width: 80%; /* Adjust width for better responsiveness */
    max-width: 40%; /* Max width for larger screens */
    border-radius: 20px;
    margin: 20px auto; /* Centering the board */
    padding: 20px; /* Add padding inside the board */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for better visibility */
}

.board h1 {
    color: #fff;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.board h1:hover {
    opacity: 0.7;
}

.notice-collections {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove padding */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 400px;
}

/* Custom Scrollbar */
.notice-collections::-webkit-scrollbar {
    width: 8px;
}

.notice-collections::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.notice-collections::-webkit-scrollbar-thumb {
    background-color: #000000; /* Scrollbar color */
    border-radius: 10px;
}

.notice-collections::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker on hover */
}

.notice-collections {
    scrollbar-width: thin;
    scroll-behavior: smooth;/* Firefox scrollbar width */
    scrollbar-color: #00000084 #7b24245c; /* Firefox scrollbar colors */
}

.notice {
    background: #fff;
    color: #000;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow to each notice */
}

.notice h3 {
    margin: 0;
    font-size: 18px;
}

.notice p {
    margin: 10px 0 0;
}

.nonotice {
    text-align: center;
    padding-left: 120px;
    font-size: 30px;
    color: gray;
}

@media screen and (max-width: 500px) {
    .board {
        width: 90%; /* Adjust width for smaller screens */
        margin-bottom: 20px; /* Adjust margin */
        margin-top: 20px;
    }
    .board h1 {
        font-size: 20px;
        padding: 2px;
    }
    .notice {
        padding: 10px; /* Adjust padding for smaller screens */
    }
    .nonotice {
        padding-left: 150px;
    }
}
