/* Parks.css */
.places-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .places-container h1 {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    color: #2c3e50;
  }
  
  .places-list {
    list-style-type: none;
    padding: 0;
  }
  
  .place-link {
    text-decoration: none;
    color: inherit;
  }
  
  .place-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 30px 0;
    padding: 30px;
    background-color: #f9f9f9;
    gap: 20px;
  }
  
  .place-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }
  .result-count{
    font-weight: 600;
    color: rgb(93, 44, 44);
  }
  
  .place-data {
    display: flex;
    width: 400px;
    flex-direction: column;
  }
  
  .place-item h2 {
    margin-top: 0;
    color: #005259;
  }
  .place-item h3{
    margin-top: 0;

    
  }
  .place-item p {
    margin: 5px 0;
    color: #34495e;
  }
  
  .photos-container {
    display: flex;
    flex-direction:column;
    position: relative;
    gap: 10px;
  }
  .place-icon{
    height: 20px;
    width: 20px;
  }
  .place-item .ratings{
    color: rgb(104, 59, 59);
  }
  
  .photos-container img {
    border-radius: 8px;
    height:200px;
    transition: transform 0.2s ease-in-out;
  }
  
  .photos-container img:hover {
    transform: scale(1.05);
  }
  